<app-admin-dashboard></app-admin-dashboard>
<div class="container py-5">
  <div class=" row d-flex justify-content-center align-items-center">
    <form class="col-8">

      <div class="text-center mb-5">
        <h2>Customer Detail</h2>
      </div>
      <div class="form-outline mb-3">
        <label class="form-label" for="customerId">Customer ID</label>
        <input type="number" id="customerId" [(ngModel)]="customerId" class="form-control" name="customerId" placeholder="Enter the customer id" required />

      </div>
      <div class=" justify-content-center mt-3 pt-2 text-center row">
        <button type="reset" class="btn btn-success btn-lg col-2 m-3">Cancel</button>
        <button type="button" class="btn btn-primary btn-lg col-6 m-3"
          style="padding-left: 2.5rem; padding-right: 2.5rem;" (click)="fetchCustomerDetails()">Get Customer
          Details</button>
      </div>
    </form>
  </div>
</div>

<div  class="row m-4">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Customer Name</th>
        <th>Email Address</th>
        <th>Mobile Number</th>
        <th>User ID</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let customer of customerDetails">
        <td>{{ customer.name }}</td>
        <td>{{ customer.email }}</td>
        <td>{{ customer.mobileNumber }}</td>
        <td>{{ customer.userId }}</td>
        <td class=" text-center">
          <button (click)="updateCustomer()" class="btn btn-primary col-5 mx-1">Update</button>
          <button (click)="deleteCustomer()" class="btn btn-danger col-5 mx-1">Delete</button>
        </td>
      </tr>

    </tbody>
  </table>
</div>