<app-admin-dashboard></app-admin-dashboard>
<div class="container py-5">
  <div class=" row d-flex justify-content-center align-items-center">
    <form class="col-8" [formGroup]="billForm">

      <div class="text-center mb-5">
        <h2>Bill Detail</h2>
      </div>
      <div class="form-outline mb-3">
        <label class="form-label" for="billNum">Bill ID</label>
        <input type="number" formControlName="billNum" id="billNum"  class="form-control" placeholder="Enter the bill number" required />
      </div>

      <div class=" justify-content-center mt-3 pt-2 text-center row">
        <button type="reset" class="btn btn-success btn-lg col-2 m-3">Cancel</button>
        <button type="button" class="btn btn-primary btn-lg col-6 m-3"
          style="padding-left: 2.5rem; padding-right: 2.5rem;" (click)="fetchBill()">Get Bill Detail</button>
      </div>
    </form>
  </div>
</div>

<div  class="row m-4">
  <table class="table table-bordered">
    <thead>
      <tr *ngIf="billDetails.length>0">
        <th>Customer ID</th>
        <th>Payable Amount</th>
        <th>Due Amount</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let bill of billDetails">
        <td>{{bill.customerId}}</td>
        <td>{{ bill.payableAmt }}</td>
        <td>{{ bill.dueAmt }}</td>
        <td class=" text-center">
          <button (click)="updateBill()" class="btn btn-primary col-5 mx-1">Update</button>
          <button (click)="deleteBill(successModal)" class="btn btn-danger col-5 mx-1">Delete</button>
        </td>
      </tr>

    </tbody>
  </table>
</div>

<ng-template #successModal>
  <div class="modal-header">
    <button type="button" class="close" aria-label="Close" (click)="modalRef?.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Deleted successfully!</p>
    
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="modalRef?.hide()">Close</button>
  </div>
</ng-template>