<nav class="navbar navbar-expand-lg navbar-dark bg-dark text-light">
    <a class="navbar-brand ml-2" routerLink="/userDashboard">Electricity Bill Portal</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" routerLink="/userDashboard">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/payBill">Pay Bill</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/registerComplain">Register Complaint</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/complainStatus">Complaint Status</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/updateDetail" >Update Detail</a>
            </li>
        </ul>
    </div>
    <div>
        <button class="btn btn-danger" style="margin-right: 1em;" routerLink="/dashboard">Logout</button>
    </div>
</nav>

<div class="m-4">
<h2>Consumer Home Page</h2>

</div>