<nav class="navbar navbar-expand-lg navbar-dark bg-dark text-light">
    <a class="navbar-brand ml-2" routerLink="/userDashboard">Electricity Bill Portal</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" routerLink="/userDashboard">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/customerDetail">Customer</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/billDetail">Bill</a>
            </li>
        </ul>
    </div>
    <div class="d-flex align-items-center">
        <p class="m-0 mx-4">Hello Admin!</p>
        <button class="btn btn-danger mx-2" routerLink="/dashboard">Logout</button>
    </div>
</nav>