<section class="vh-100">
    <div class="container-fluid h-custom">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-9 col-lg-6 col-xl-5">
                <img src="assets/electricityBill.jpg" class="img-fluid" alt="Sample image">
            </div>
            <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                <button routerLink="/adminLogin" class="btn btn-danger mb-4" style="float: right;">Admin Login</button>
                <app-user-login></app-user-login>
            </div>
        </div>
    </div>

</section>